<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.online.college.core.brand.dao.BrandDao">

    <resultMap id="BeanResultMap" type="com.online.college.core.brand.domain.Brand" >
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="brandname" property="brandName"  jdbcType="VARCHAR" />
        <result column="brandpicture" property="brandPicture"  jdbcType="VARCHAR" />
        <result column="create_time" property="createTime"  jdbcType="DATE" />
        <result column="create_user" property="createUser"  jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime"  jdbcType="TIMESTAMP" />
        <result column="update_user" property="updateUser"  jdbcType="VARCHAR" />
        <result column="del" property="del"  jdbcType="TINYINT" />
    </resultMap>

    <sql id="All_Columns">
        brandname,brandpicture,create_time,create_user,
        update_time,update_user,del,id
    </sql>

    <select id="querylist"  parameterType="com.online.college.core.brand.domain.BrandQueryDto"  resultMap="BeanResultMap">
        SELECT
        <include refid="All_Columns" />
        FROM t_brand
        <trim prefix="WHERE " prefixOverrides="AND |OR ">
            <if test="brandName != null">
                AND brandname = #{brandName, jdbcType=VARCHAR}
            </if>
            <if test="brandPicture != null">
                AND brandpicture = #{brandPicture, jdbcType=VARCHAR}
            </if>
        </trim>
        <if test="sortField != null">
            ORDER BY ${sortField}  ${sortDirection}
        </if>
        <if test="start != null and end != null">
            LIMIT #{start, jdbcType=INTEGER} , #{end, jdbcType=INTEGER}
        </if>
    </select>

    <select id="getByBrandId" parameterType="java.lang.String"  resultMap="BeanResultMap" >
        SELECT
        <include refid="All_Columns"  />
        FROM t_brand
        WHERE brandId = #{brandId, jdbcType=INTEGER}
        AND DEL = 0
    </select>

    <select id="getByBrandName" parameterType="java.lang.String"  resultMap="BeanResultMap" >
        SELECT
        <include refid="All_Columns"  />
        FROM t_brand
        WHERE brandName = #{brandName, jdbcType=VARCHAR}
        AND DEL = 0
    </select>

</mapper>