<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.online.college.core.order.dao.OrderDao">

    <resultMap id="BeanResultMap" type="com.online.college.core.order.domain.Order" >
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="orderid" property="orderId"  jdbcType="INTEGER" />
        <result column="userid" property="userId"  jdbcType="INTEGER" />
        <result column="productid" property="productId"  jdbcType="INTEGER" />
        <result column="buynum" property="buyNum"  jdbcType="INTEGER" />
        <result column="totalprice" property="totalPrice"  jdbcType="INTEGER" />
        <result column="addressid" property="addressId"  jdbcType="INTEGER" />
        <result column="paytime" property="payTime"  jdbcType="DATE" />
        <result column="create_time" property="createTime"  jdbcType="DATE" />
        <result column="create_user" property="createUser"  jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime"  jdbcType="TIMESTAMP" />
        <result column="update_user" property="updateUser"  jdbcType="VARCHAR" />
        <result column="del" property="del"  jdbcType="TINYINT" />
    </resultMap>

    <sql id="All_Columns">
        orderid,userid,productid,buynum,totalprice,addressid,paytime,create_time,create_user,
        update_time,update_user,del,id
    </sql>

    <select id="getByOrderId" parameterType="java.lang.String"  resultMap="BeanResultMap" >
        SELECT
        <include refid="All_Columns"  />
        FROM t_brand
        WHERE brandId = #{orderId, jdbcType=INTEGER}
        AND DEL = 0
    </select>


</mapper>